{% macro render() %}
	<div class="effect6">
		<img src="../../img/effect-css-img6.jpg" alt="background">
		<span class="effect6__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect6__box">
			<div class="effect6__content">
				<span class="effect6__description" style="color: #fff;font-size: 16px;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
			</div>
		</div>
    <div class="effect6__overlay"></div>
	</div>
{% endmacro %}
