{% macro render() %}
	<div class="effect15">
		<img src="../../img/effect-css-img4.jpg" alt="background">
		<h3 class="effect15__title" style="color: #fff;font-size: 25px;">NICELILY</h3>
		<hr class="effect15__hr1">
    <hr class="effect15__hr2">
    <p class="effect15__description"> ROMEO NEVER KNOW ROMEO NEVER KNOW ROMEO NEVER KNOW ROMEO NEVER KNOW</p>
	</div>
{% endmacro %}
