{% macro render() %}
	<div class="effect4">
		<span class="effect4__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<hr class="effect4__hr">
		<div class="effect4__content">
			<span class="effect4__description" style="color: #fff;font-size: 16px;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
		</div>
    <div class="effect4__overlay"></div>
	</div>
{% endmacro %}
