{% macro render() %}
	<div class="effect2">
		<div class="effect2__image">
			<img src="../../img/effect-css-img1.jpg" alt="">
		</div>
		<div class="effect2__content">
			<span class="effect2__title" style="color: #fff;font-size: 25px;">DREAMY HONEY
				<span class="effect2__hidden">NOW</span>
			</span>
		</div>
	</div>
{% endmacro %}
