{% macro render() %}
	<div class="effect3">
		<span class="effect3__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect3__content">
			<span class="effect3__description" style="color: #fff;font-size: 16px;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
		</div>
	</div>
{% endmacro %}
