{% macro render() %}
	<div class="effect16">
		<img src="../../img/effect-css-img13.jpg" alt="background">
    <div class="effect16__box1">
      <h3 class="effect16__title" style="color: #fff;font-size: 25px;">NICELILY</h3>
    </div>
    <div class="effect16__box2">
      <p class="effect16__description"> ROMEO NEVER KNOW ROMEO NEVER KNOW ROMEO </p>
    </div>


	</div>
{% endmacro %}
