{% macro render() %}
	<div class="effect24">
		<img src="../../img/effect-css-img9.jpg" alt="background">
		<div class="effect24__box1">
			<div>
				<h3>Game Center</h3>
				<p>by Van Doan</p>
			</div>
      <div class="effect24__btnbox">
				<button>Take a look</button>
			</div>

		</div>
		<div class="effect24__box2"></div>

	</div>
{% endmacro %}
