{% macro render() %}
	<div class="effect12">
		<img src="../../img/effect-css-img11.jpg" alt="background">
		<span class="effect12__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect12__box">
			<div class="effect12__content">
				<i class="far fa-star effect12__icon"></i>
				<i class="far fa-comment effect12__icon"></i>
				<i class="far fa-envelope effect12__icon"></i>
			</div>
		</div>
    <div class="effect12__overlay"></div>
	</div>
{% endmacro %}
