.effect10 {
  position: relative;
  cursor: pointer;
  height: 300px;
  overflow: hidden;
  &:hover .effect10__box {
    transform: translateY(15px);

  }
  &:hover .effect10__content {
    opacity: 1;
    transform: translateX(15px);

  }
  &:hover .effect10__description {
    opacity: 1;
    font-size: 17px;
  }
  &:hover img{
    opacity: 0.8;
    width: 520px;
    height: 320px;
  }
}
.effect10__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  height: 45%;
  width: 92%;
  transition: all 0.5s;
}
.effect10 img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 500px;
  height: 300px;
}

.effect10__title {
  position: absolute;
  top: 100px;
  left: 140px;
}
.effect10__content {
  border: 1px solid #fff;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  height: 90%;
}
.effect10__description {
  opacity: 0;
  font-size: 20px;
  transition: all 0.5s;
  text-align: center;
}
.effect10 img {
  transition: all 0.5s;
}
