{% macro render() %}
	<div class="effect10">
		<img src="../../img/background.jpg" alt="background">
		<span class="effect10__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect10__box">
			<div class="effect10__content">
        <div class="effect10__box1"></div>
        <div class="effect10__box2"></div>
				<span class="effect10__description" style="color: #fff;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
			</div>
		</div>
	</div>
{% endmacro %}
