
.effect8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
  height: 300px;
  overflow: hidden;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-image: url(../../img/background.jpg);
  &:hover .effect8__content {
    border-right: 1px solid #ccc;
    transform: translateX(30px);
  }
  &:hover .effect8__description {
    visibility: visible;
  }

}
.effect8__title {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.effect8__content {
  width: 50%;
  display: flex;
  height: auto;
  justify-content: flex-start;
  color: #fff;
  margin-bottom: 50px;
  margin-left: -30px;
  padding-right: 15px;
  text-align: right;
  transition: all 0.3s;
}
.effect8__hidden {
  opacity: 0;
}
.effect8__description {
  visibility: hidden;
}
