{% macro render() %}
	<div class="effect8">
		<span class="effect8__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect8__content">
			<span class="effect8__description" style="color: #fff;font-size: 16px;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
		</div>
	</div>
{% endmacro %}
