{% macro render() %}
	<div class="effect5">
		<img src="../../img/effect-css-img5.jpg" alt="background">
		<div class="effect5__box">
			<span class="effect5__title" style="color: #fff;font-size: 25px;">NICELILY</span>
			<div class="effect5__content">
				<span class="effect5__description" style="color: #fff;font-size: 16px;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
			</div>
		</div>
    <div class="effect__overlay"></div>
	</div>
{% endmacro %}
