{% macro render() %}
	<div class="effect25">
		<img src="../../img/effect-css-img8.jpg" alt="background">
    <div class="effect25__box1">
      <h3>Settings</h3>
      <h4>by Van Doan</h4>
      <button>Take a look</button>
    </div>

	</div>
{% endmacro %}
