{% macro render(content) %}
	<div class="text-head__title--2 mt-20" >
		<h3>
			{{content.title}}
		</h3>
	</div>
	<div class="text-head__description">
		{{content.description}}
	</div>
{% endmacro %}
