.text-head {
  position: relative;
  margin-bottom: 30px;
  &__title--1 {
    margin: 60px 0px 25px 0px;
    text-align: center;
    font-size: 25.5px;
  }
  &__title--2 {
      margin: 60px 0px 25px 0px;
      text-align: center;
      font-size: 25px;
      font-weight: 600;
  }

  &__description {
      text-align: center;
      margin-bottom: 10px;
  }
}

@supports (font-variation-settings: "wght" 800) {
  .text-head__title--1 {
      margin: 60px 0px 25px 0px;
      text-align: center;
      font-size: 25.5px;
  }
}
