{% macro render() %}
  <div class="effect1">
    <img src="../../img/effect-css-img7.jpg" alt="background">
    <div class="effect1__content">
      <span class="effect1__title" style="color: #fff;font-size: 25px;">NICELILY</span>
      <span class="effect1__description" style="color: #fff;font-size: 16px;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
    </div>
    <div class="effect1-overlay"></div>
  </div>
{% endmacro %}
