{% macro render() %}
	<div class="effect7">
		<img src="../../img/effect-css-img6.jpg" alt="background">
		<span class="effect7__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect7__box">
			<div class="effect7__content">
				<span class="effect7__description" style="color: #fff;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
			</div>
		</div>
	</div>
{% endmacro %}
