{% macro render() %}
	<div class="effect18">
		<img src="../../img/effect-css-img6.jpg" alt="background">
    <div class="effect18__box1"></div>
    <div class="effect18__box2"></div>
    <div class="effect18__box3"></div>
    <div class="effect18__box4"></div>
    <div class="effect18__box5"></div>

	</div>
{% endmacro %}
