{% macro render(content) %}
	<div class="menu">

		<ul class="menu__1">
			<li>Home</li>
			<li class="menu__megaMenuHover">Item <i class="fas fa-chevron-down"></i>
				<div class="menu__content">
					<div class="menu__content1">
						<ul>
							<a href="javascript:void(0);">Getting Started</a>
							<hr/>
							<li>
								<a href="#">Installation</a>
							</li>
							<li>
								<a href="#">Mega Menus</a>
							</li>
							<li>
								<a href="#">Flyout Menus</a>
							</li>
							<li>
								<a href="#">Menu Item Options</a>
							</li>
						</ul>
					</div>
					<div class="menu__content1">
						<ul>
							<a href="#">Getting Started</a>
							<hr/>
							<li>
								<a href="#">Installation</a>
							</li>
							<li>
								<a href="#">Mega Menus</a>
							</li>
							<li>
								<a href="#">Flyout Menus</a>
							</li>
							<li>
								<a href="#">Menu Item Options</a>
							</li>
						</ul>
					</div>
					<div class="menu__content1">
						<ul>
							<a href="#">Getting Started</a>
							<hr/>
							<li>
								<a href="#">Installation</a>
							</li>
							<li>
								<a href="#">Mega Menus</a>
							</li>
							<li>
								<a href="#">Flyout Menus</a>
							</li>
							<li>
								<a href="#">Menu Item Options</a>
							</li>
						</ul>
					</div>

				</div>
			</li>
			<li class="menu__hover1">
        Effect
        <i class="fas fa-chevron-down"></i>
				<ul class="menu__2">
					<li>Home</li>
					<li>About</li>
					<li class="menu__hover2">
            Effect
            <i class="fas fa-angle-right"></i>
						<ul class="menu__3">
							<li>Home</li>
							<li>About</li>
							<li>Effect</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="menu__megaMenuHover">
        Contact
        <i class="fas fa-chevron-down"></i>
				<div class="menu__content">
					<div class="menu__content1">
						<a href="#">Calendar</a>
						<hr/>
						<input type="date"/>
					</div>
					<div class="menu__content1">
						<ul>
							<a href="#">Contact
							</a>
							<hr/>
							<li>
								<label for="contact-name">Name</label>
								<input type="text" name="contact-name">
							</li>
							<li>
								<label for="contact-email">Email</label>
								<input type="email" name="contact-name">
							</li>
							<li>
								<label for="contact-message">Message</label>
								<textarea name="contact-name"></textarea>
							</li>
						</ul>
					</div>
					<div class="menu__content1">
						<ul>
							<a href="#">Getting Started</a>
							<hr/>
							<li>
								<a href="#">Installation</a>
							</li>
							<li>
								<a href="#">Mega Menus</a>
							</li>
							<li>
								<a href="#">Flyout Menus</a>
							</li>
							<li>
								<a href="#">Menu Item Options</a>
							</li>
						</ul>
					</div>

				</div>
			</li>
			<li class="menu__megaMenuHover">
        About
        <i class="fas fa-chevron-down"></i>
				<div class="menu__content">
					<div class="menu__content2" style="border-right: 1px solid black;">
						<ul>
							<li class="menu__tabHover1">
								<a href="#">Installation</a>
								<div class="menu__tab1">
									<ul>
										<a href="#">Getting Started</a>
										<hr/>
										<li>
											<a href="#">Installation</a>
										</li>
										<li>
											<a href="#">Mega Menus</a>
										</li>
										<li>
											<a href="#">Flyout Menus</a>
										</li>
										<li>
											<a href="#">Menu Item Options</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__tabHover1">
								<a href="#">Mega Menus</a>
								<div class="menu__tab1">
									<a href="#">Tab</a>
                  <hr/>
                  <p>
                    Organise your site content by adding images, icons, maps or any other WordPress widget to your navigation.
                    Organise your site content by adding images, icons, maps or any other WordPress widget to your navigation.
                    Organise your site content by adding images, icons, maps or any other WordPress widget to your navigation.
                    Organise your site content by adding images, icons, maps or any other WordPress widget to your navigation.
                  </p>

								</div>
							</li>
							<li class="menu__tabHover1">
								<a href="#">Flyout Menus</a>
								<div class="menu__tab1">
									<ul>
										<a href="#">Getting Started</a>
										<hr/>
										<li>
											<a href="#">Installation</a>
										</li>
										<li>
											<a href="#">Mega Menus</a>
										</li>
										<li>
											<a href="#">Flyout Menus</a>
										</li>
										<li>
											<a href="#">Menu Item Options</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="menu__content2" style="width: 60%"></div>

				</div>
			</li>
			<li class="menu__megaMenuHover">
        Effect
        <i class="fas fa-chevron-down"></i>
      </li>
		</ul>
	</div>
{% endmacro %}
