{% macro render() %}
	<div class="effect11">
		<img src="../../img/effect-css-img10.jpg" alt="background">
		<span class="effect11__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect11__box">
      <div class="effect11__content">
        <i class="far fa-heart effect11__icon--1"></i>
        <i class="far fa-thumbs-up effect11__icon--2"></i>
        <i class="far fa-id-badge effect11__icon--3"></i>
        <i class="far fa-hand-spock effect11__icon--4"></i>
      </div>

		</div>
    <div class="effect11__overlay"></div>
	</div>
{% endmacro %}
