{% macro render() %}
	<div class="effect23">
		<img src="../../img/effect-css-img9.jpg" alt="background">
		<div class="effect23__box1">
			<div>
				<h3>Setting</h3>
				<h4>by Van Doan</h4>
			</div>
			<button>Take a look</button>
		</div>

	</div>
{% endmacro %}
