{% macro render() %}
	<div class="effect9">
		<img src="../../img/background.jpg" alt="background">
		<span class="effect9__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect9__box">
			<div class="effect9__content">
				<span class="effect9__description" style="color: #fff;">LILY LIKES TO PLAY CRAYONS AND PENCILE</span>
			</div>
		</div>
	</div>
{% endmacro %}
