{% macro render() %}
	<div class="effect13">
		<img src="../../img/effect-css-img12.jpg" alt="background">
		<span class="effect13__title" style="color: #fff;font-size: 25px;">NICELILY</span>
    <div class="effect13__box--1"></div>
		<div class="effect13__box--2">
			<div class="effect13__content">
				<i class="fas fa-download effect13__icon--1"></i>
				<i class="far fa-heart effect13__icon--2"></i>
				<i class="fab fa-affiliatetheme effect13__icon--3"></i>
			</div>
		</div>
    <div class="effect13__box--3"></div>
    <div class="effect13__box--4"></div>
    <div class="effect13__overlay"></div>
	</div>
{% endmacro %}
