{% macro render() %}
	<div class="effect14">
		<img src="../../img/background.jpg" alt="background">
		<span class="effect14__title" style="color: #fff;font-size: 25px;">NICELILY</span>
		<div class="effect14__content">
			<i class="far fa-heart effect14__icon--1"></i>
			<i class="far fa-heart effect14__icon--2"></i>
			<i class="far fa-heart effect14__icon--3"></i>
		</div>
		<div class="effect14__box--1"></div>
		<div class="effect14__box--2"></div>
		<div class="effect14__box--3"></div>
	</div>
{% endmacro %}
