.effect21 {
  position: relative;
  cursor: pointer;
  height: 300px;
  &:hover img {
    transform: translateY(-100px);
  }

}

.effect21 img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 300px;
  z-index: 9;
}
.effect21__box1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100px;
  padding-left: 30px;
  background-color: #ccc;
  transition: all 0.2s;
  z-index: 1;
}
.effect21__box1 button {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.effect21 img {
  transition: all 0.5s;
}

