{% macro render() %}
	<div class="effect26">
		<div class="effect26__box1">
		</div>
    <div class="effect26__img">
      <img src="../../img/effect-css-img8.jpg" alt="background">
    </div>



	</div>
{% endmacro %}
