{% macro render() %}
	<div class="effect17">
		<img src="../../img/effect-css-img14.jpg" alt="background">
    <div class="effect17__box1">
      <h3 class="effect17__title" style="color: #fff;font-size: 25px;">STRONGAPOLO</h3>
    </div>
    <div class="effect17__hidden">Apollo's last<br/> game of pool<br/> was so<br/> strange.</div>
    <div class="effect17__bg">
      <div class="effect17__bg1"></div>
      <div class="effect17__bg2"></div>
      <div class="effect17__bg3"></div>
    </div>
	</div>
{% endmacro %}
